.review {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 100px;

    .review-list {
        position: relative;

        .review-list__list {
            margin-left: 40px;

            .item {
                display: flex;
                margin-bottom: 70px;

                &:focus,
                &:active {
                    outline: none;
                }
    
                .item__img {
                    flex-basis: 20%;
                    margin-right: 20px;
                }
    
                .item__text {
                    flex-direction: column;
    
                    .item__description {
                        padding-bottom: 18px;
                        font-size: $baseFontSizeAsRem * 1.125;
                        line-height: 27px;
                        color: $colorDark;
                    }
    
                    .item__position {
                        font-family: $positionFont;
                        font-size: $baseFontSizeAsRem * 1.125;
                        font-weight: 100;
                        color: $colorDark;
                        opacity: .4;
                    }
                }
            }
        } 
    }

    .slick-prev,
    .slick-next {
        background-color: transparent;
        border: none;

        &:focus,
        &:active {
            outline: none;
        }
    }


    .slick-prev {
        @include position(absolute, -70px, calc(50% - 26px), auto, auto);
        width: 52px;
        height: 52px;
        font-size: 0;
        background: url('assets/img/buttons/up.png') no-repeat;
    }

    .slick-next {
        @include position(absolute, auto, calc(50% - 26px), 10px, auto);
        width: 52px;
        height: 52px;
        font-size: 0;
        background: url('assets/img/buttons/down.png') no-repeat;
    }
}

@import 'media.scss';