.review {
    @media screen and (max-width: 1370px) {
        .review__bg {
            display: none;
        }

        .review__button-up {
            
        }

        .review__button-down {
            
        }

        .review__list {
            .item {
                .item__img {
                    width: 130px;
                    height: 130px;
                }
            }
        }
    
    }

    @media screen and (max-width: 700px) {
        .review-list__list {
            margin-left: 0;

            .item {
                flex-direction: column;
                align-items: flex-start;

                .item__icon {
                    margin-bottom: 15px;
                }
            }
            
        }
    }

}

