.feedback {
  @media screen and (max-width: 1343px) {
    .feedback__form {
      .form__item {
        flex-basis: 100%;

        &:nth-child(odd) {
          margin-right: 0;
        }
      }
    }
  }

  @media screen and (max-width: 950px) {

    .feedback__header {
      height: 120px;
      
      .feedback__button {
        font-size: $baseFontSizeAsRem * 3;
      }
    }
  }

  @media screen and (max-width: 640px) {
    .feedback__header {
      height: 93px;
      
      .feedback__button {
        font-size: $baseFontSizeAsRem * 1.5;
      }
    }

    .feedback__form {
      .form__submit-btn {
        width: 255px;
        height: 62px;
      }
    } 
  }
}