.main-header {
    height: 120px;

    .header__logo {
        margin: 30px 50px 30px 0;
    }

    .header__navigation-list {
        .item__link {
            font-size: $baseFontSizeAsRem * 1.25;
            color: $linkColor;
        }
    }
}