.main-header {
    height: 120px;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        margin: 30px 50px 30px 0;
    }

    .header__navigation-list {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .item__link {
            font-family: 'Prosto sans Bold';
        }
    }
}