.main-header {
    @import 'hamburger.scss';

    height: 120px;
    padding-left: 20px;
    padding-right: 20px;

    .header__logo {
        margin: 30px 50px 30px 0;
    }

    .hamburger {
        display: none;
    }

    .header__navigation-list {
        .item__link {
            font-family: $baseFont;
            font-size: $baseFontSizeAsRem * 1.25;
            color: $linkColor;
            transition: linear .1s;

            &:hover {  
                text-shadow: 0px 0px 2px $colorRed;
                color: $colorRed;
            }
        }
    }
}

@import 'media.scss';

