.main-header {

    @media screen and (max-width: 1300px) {

        .header__navigation-list {
            display: none;
        }
    
        .header__navigation-button {
            display: block;
        }   
    }

    @media screen and (max-width: 420px) {
        padding-left: 0;

        .header__logo {
            margin-right: 20px;
        }
        .header__navigation-button {
            padding-right: 0;
        }
    }
}



