.customers {
    .title-box {
        margin: 70px auto;
        display: flex;
        justify-content: center;
    
        .customers__title {
            position: relative;
            display: inline;
            font-family: $titleFont;
            font-size: $titleFontSize;
            font-weight: 700;
            color: $colorDark;
            z-index: 10;
        
            &::before {
                @include position(absolute, auto, auto, 10px, 32%);
                content: '';
                width: 341px;
                height: 25px;
                background-color: $colorRed;
                z-index: -11;
            }
        }
    }
}





.customers__list {
    padding-left: 40px;
    
    .item {
        margin-right: 40px;
        margin-bottom: 40px;
        width: 175px;
        height: 95px;
        border: 1px solid $colorLightBlue;
        border-radius: 10px;
        transition: .2s;

        &:hover {
            box-shadow: 0 0 15px 3px #cccccc;
        }

        img {
            max-width: 100%; 
        }
    }
} 

@import 'media.scss'; 