.customers {
    @media screen and (max-width: 1365px) {

        .customers__title {
            font-size: $baseFontSizeAsRem * 3;

            &::before {
                @include position(absolute, auto, 34%, 10px, auto);
                height: 16px;
                width: 271px;
            }
        }


        .customers__list {
            .item {
                flex-basis: 20%;
            }
        }
    }

    @media screen and (max-width: 965px) {
        .customers__list {
            .item {
                flex-basis: 25%;
            }
        }
    }

     @media screen and (max-width: 720px) {
        .customers__list {
            justify-content: space-around;
            .item {
                flex-basis: 40%;
            }
        }
    }

    
}