.customers { 
    @media screen and (max-width: 1400px) {
        .customers__title {
            font-size: $baseFontSizeAsRem * 3;

            &::before {
                @include position(absolute, auto, auto, 10px, 45%);
                height: 16px;
                width: 271px;
            }
        }
    }

    @media screen and (max-width: 1400px) {
        .customers__list {
            padding-left: 150px;
            padding-right: 110px;  
        }
    } 
    
    @media screen and (max-width: 1000px) {
        .customers__list {
            padding-left: 0px;
            padding-right: 0px;  
        }
    }

    @media screen and (max-width: 526px) {

        .customers__title {
            font-size: $baseFontSizeAsRem * 2.25;

            &::before {
                @include position(absolute, auto, auto, 10px, 30%);
                height: 13px;
                width: 0;

            }
        }

        .customers__list {
            .item {
                margin-right: 15px;
                margin-bottom: 20px;
                width: 160px;
                height: 95px;
                box-sizing: border-box;
            }
        }
    }

    @media screen and (max-width: 369px) {
        .customers__list {
            justify-content: center;
        }
    }
}