.customers { 
    @media screen and (max-width: 1400px) {
        .customers__title {
            font-size: $baseFontSizeAsRem * 3;

            &::before {
                @include position(absolute, auto, auto, 10px, 45%);
                height: 16px;
                width: 271px;
            }
        }
    }

    @media screen and (max-width: 526px) {

        .customers__title {
            font-size: $baseFontSizeAsRem * 2.25;

            &::before {
                @include position(absolute, auto, auto, 10px, 30%);
                height: 13px;
                width: 0;

            }
        }

        .customers__list {

            .item {
                margin-right: 20px;
                margin-bottom: 30px;
            }
        }
    } 
}