.blog {
    height: 750px;
    background: url('../img/blog-bg.png') no-repeat 100px 100px;

    .blog__title {
        position: relative;
        padding-top: 80px;
        text-align: center;
        font-family: "TT Prosto Sans";
        font-size: 65px;
        font-weight: 700;
        color: #123944;
        z-index: 10;

        &::before {
            position: absolute;
            bottom: 1px;
            left: 610px;
            content: '';
            width: 158px;
            height: 28px;
            background-color: #E7472E;
            z-index: -11;
        }
    }
}