.blog {
    height: 750px;
    background: url('../img/blog-bg.png') no-repeat 100px 100px;

    .blog__title {
        position: relative;
        padding-top: 80px;
        text-align: center;
        font-family: "TT Prosto Sans"; // todo
        font-size: $titleFontSize;
        font-weight: 700;
        color: $colorDark;
        z-index: 10;

        &::before {
            @include position(absolute, auto, auto, 1px, 610px);
            content: '';
            width: 158px;
            height: 28px;
            background-color: $colorRed;
            z-index: -11;
        }
    }
}