$linkColor: #373737;
$colorDark: #123944;
$colorLight: #979797;

$colorWhite: #FFFFFF;
$colorRed: #E7472E;
$colorLightBlue: #D6DFE5;

$baseFont: 'Prosto Sans Bold', sans-serif;
$baseFontSize: 16px;
$baseFontSizeAsRem: 1rem;

$titleFontSize: $baseFontSizeAsRem * 4;