.intro {
    position: relative;
    display: flex;
    padding: 0 20px 40px 80px;
    height: 850px;
    background: url('../img/intro-bg.png') no-repeat center/cover;


    .intro__text {
        padding-top: 240px;
        max-width: 650px;
        height: 375px;

        .intro__title {
            margin-bottom: 20px;
            font-family: $titleFont;
            font-size: $titleFontSize;
            color: $colorWhite;
        }

        .intro__description {
            margin-bottom: 20px;
            font-size: $baseFontSizeAsRem * 1.25;
            line-height: 29px;
            color: $colorWhite;
        }

        .intro__contact-us {
            padding: 25px 80px;
            font-family: $accentFont;
            font-size: $baseFontSizeAsRem * 1.125;
            line-height: 0;
            color: $colorWhite;
            text-transform: uppercase;
            background-color: $colorRed;
            border: none;
            border-radius: 5px;
            box-shadow: $btnShadow;
            cursor: pointer;

            &:focus,
            &:active {
                outline: none;
            }
        }
    }

    .intro__background {
        padding-top: 50px;
    }

    .intro__scroll-text {
        @include position(absolute, auto, 530px, 80px, auto);
        font-size: $baseFontSizeAsRem * 1.125;
        font-weight: 100;
        color: $colorWhite;
        text-transform: uppercase;
        transform: rotate(90deg);
        
        &::before {
            content: '';
            position: absolute;
            background: url('../img/scroll-border.png') no-repeat; // вот с ней непонятно      
        }
    }

    .intro__scroll-img {
        position: absolute;
        bottom: -50px;
        right: 350px;
    }
}

@import 'media.scss';