.team {
    padding: 0 50px 187px 50px;
    background: url('assets/img/team-bg.png') no-repeat;
    background-position: 0 0px;
    background-size: cover;
    height: auto;

    .team__title {
        position: relative;
        padding-top: 110px;
        margin-bottom: 20px;
        font-family: $titleFont;
        font-size: $titleFontSize;
        font-weight: 700;
        color: $colorDark;
        z-index: 10;

        &::before {
            @include position(absolute, auto, auto, 3px, 155px);
            content: '';
            width: 175px;
            height: 25px;
            background-color: $colorRed;
            z-index: -11;
        }
    }

    .team__description {
        margin-bottom: 80px;
        font-size: $baseFontSizeAsRem * 1.5;
        line-height: 48px;
        color: $colorDark;
        max-width: 980px;
    }

    .team__members-list {
        display: flex;

        .item {
            margin-right: 100px;
            text-align: center;

            .item__img {
                margin-bottom: 80px;
                border: 1px solid $colorLight;
                border-radius: 15px;
                box-shadow: 0 40px 70px 2px #637480;
            }

            .item__name {
                margin-bottom: 20px;
                font-size: $baseFontSizeAsRem * 1.75;
                font-weight: bold;
                color: $colorDark;
            }

            .item__position {
                font-size: $baseFontSizeAsRem * 1.5;
                color: $colorDark;
            }
        }
    }
}

@import 'media.scss';