.main-footer {
    height: 150px;
    padding-top: 70px;
    box-shadow: 0 -5px 25px 1px #BFBBBB;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .contacts {
        display: flex;
        flex-basis: 50%;
        flex-wrap: wrap;

        .footer__logo {
            margin-right: 120px;
        }
        
        .footer__email {
            align-items: center;
            display: flex;

            .footer__email-img {
                margin-right: 10px;
            }

            .footer__email-text {
                font-size: $baseFontSizeAsRem * 1.5;
                font-weight: bold;
                color: $colorDark;
            }
        }

        .footer__address {
            margin-top: 30px;
            font-size: 24px;
            color: $colorDark;
        }
    }

    .social__list {
        display: flex;

        .item {
            margin-right: 30px;
        }
    }
}