.main-footer {
    padding-top: 70px;
    padding-bottom: 70px;
    box-shadow: 0 -5px 25px 1px #BFBBBB;

    .contacts {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 1;
        

        .footer__logo {
            margin-right: 120px;
        }
        
        .footer__email {
            align-items: center;
            display: flex;

            .footer__email-img {
                margin-right: 10px;
            }

            .footer__email-text {
                font-size: $baseFontSizeAsRem * 1.5;
                font-weight: bold;
                color: $colorDark;
            }
        }

        .footer__address {
            margin-top: 30px;
            font-size: 24px;
            color: $colorDark;
        }
    }

    .social__list {
        display: flex;

        .item {
            border-radius: 15px;

            &:not(:last-child) {
                margin-right: 30px;
            }

            .item__img {
                width: 79px;
                height: 79px;
            }

            &:hover {
                box-shadow: $shadowItem;
            }
        }
    }
}

@import 'media.scss';