.main-footer {
    @media screen and (max-width: 950px) {
        padding-top: 40px;
        padding-bottom: 40px;

        .footer__logo {
            margin-bottom: 30px;
        }

        
    }

    @media screen and (max-width: 768px) {
        padding: 40px 40px;

        .contacts {
            width: 320px;
            
            .footer__address {
                font-size: $baseFontSize;
            }

            .footer__email {
                .footer__email-text {
                    font-size: $baseFontSizeAsRem * 1.125;
                }
            }    
        }
        

        .social__list {
            flex-direction: column;

            .item {
                margin-bottom: 15px;

                &:not(:last-child) {
                    margin-right: 0px;
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        padding: 20px 10px;

        .contacts {
            .footer__logo {
                margin-right: 0;
            }
        }     
    }
}