.title-box {
    display: flex;
    justify-content: flex-start;

    .technique__title {
        position: relative;
        display: inline;
        padding: 170px 120px 120px 0;
        font-family: $titleFont; // todo
        font-size: $titleFontSize;
        font-weight: 700;
        color: $colorDark;
        background: url('assets/img/title-bg.png') no-repeat 255px;
        z-index: 10;

        &::before {
            @include position(absolute, auto, auto, 120px, 26%);
            content: '';
            width: 329px;
            height: 32px;
            background-color: $colorRed;
            z-index: -11;
        }
    }
}

.technique__description {
    display: flex;

    .technique__description-text {
        flex-basis: 600px;   // непонятно почему изменение этого параметра двигает картинку, но иначе не получается вытянуть текст на нужную ширину
        padding-top: 55px;
        padding-left: 30px;
        font-size: $baseFontSizeAsRem * 1.375;
        line-height: 48px;
        color: $colorDark;
        background: url('assets/img/description-bg.png') no-repeat;
        
    }

    .description-text--2 {
        justify-content: flex-end;
        text-align: right;
        padding-right: 96px;
        padding-left: 229px;
        flex-basis: 94%;
        background-position: right 0;
    }

    .technique__description-img {
        transform: translate3d(200px, -50px, 0);
        width: 40%;

        img {
            max-width: 100%;
        }
    }

    .description-img--2 {
        position: absolute;
        transform: translateY(-150px);
        width: 70%;

        img {
            max-width: 100%;
        }
    }
}

@import 'media.scss';